/*
Name : Sravani Kandarpa
Proj2
jadrn015


*/

 
 
 * {
   margin: 0;
   padding: 0;
 }
 
 html,body{
   height:100%;

}
 
 
 
 
 #shopping_cart {
  position: absolute;
  padding-right:15px;
  right: 0;
  top: 100px;
}





	#orderSummary{
		position: absolute;
		right: 10px;
		height: 300px;
		width: 300px;
		border: 2px solid #cfb56a;
		background-color: black;
		top: 50px;

	}

#order_button
{
    padding: 3px 3px 3px 3px;
    background-color: #e4b852;
    color: #171715;
    border: 1px solid #e4b852;
    position: absolute;
    right: 15px;
    bottom: 20px;
    width: 90%;
    height: 40px;
	font-weight:bold;
	font-size:20px;
  }


#add,#change,#delete{
   position: relative;
    left: 10px;
    margin-left: 10px;

}


.singletwo{

height: 200px;
// margin: 20px;
// float: left;
// width: 100%;
color: white;
//background-color: #e3e2d480;
font-weight: bold;
margin-bottom: 20px;

}

.singletwo p{
	    padding-left: 20px;
    position: relative;
    left: 20px;
    padding-bottom: 5px;
}

.buyImages{
	float:left;
}


/************ABOUT *************/

#AboutUS {
	padding-top: 50px;

    color:  #cfb56a;
    font-size : 20px;
    font-style:italic;
	width : 1000px;
	padding-right :200px;
	padding-left :250px;
	padding-bottom :100px;
		position:Absolute;
	top:150px;


}



#empty{
height: 100px;
    width: 800px;
    padding-top: 20px;
    color: white;
}
#continue{
    position: absolute;
    
    left: 400px;
    
    font-size: 20px;

    
padding: 5px 5px 5px 5px;
}

.buy {

    position: relative;
    left: 110px;
    padding: 3px 3px 3px 3px;
    background-color: #e4b852;
    color: #171715;
    border: 1px solid #e4b852;
}


/*.qty {
    position: relative;
    bottom: -10px;
    padding: 3px 3px 3px 3px;
     right: 20px;
}*/


h3{
    font-size: 20px;
    font-weight: bold;
  text-align:center;
  padding-bottom: 5px;
	}


.shdesc{

    text-align:center;
	padding-bottom: 5px;
	//font-weight:bold;

}

.longdesc{

    text-align:center;
	padding-bottom: 5px;
    font-style:italic;
	 transition: .2s;
  transform: translateY(1em);

}

.chocImages
{
    /* padding-bottom: 5px; */
    /* padding-left: 35px; */
    /* padding-top: 5px; */
    width: 300px;
}

/********  FORM **********/

#prodContainer
{
   // border-radius: 25px;
   // position: relative;
   // top: 200px;
   // margin-left: 5%;
 // margin-right: 5%;
 // color:#cfb56a;
  
  display: inline-block;
  width: 100%;
position: relative;
height:100%;
  
}


#leftitem {
   float: left;
//	 width:700px;
	 width: 800px;
	 position: relative;
	 top: 50px;
padding-left: 20px;
}


#right {
    margin-left: 700px;
    position: relative;
    color:#cfb56a;
}


#orderSummary tr,td {
padding: 5px 30px 5px 5px;
}


.qtychangeordel{
	    margin-left: 30px;
}

#qtybag{
    /* margin-left: 40px; */
    position: relative;
    padding-bottom: 1px;
    text-align: center;
}

.ship{
width : 100%;
}


 td .ship {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
     margin-left: 5;
 }

.shiptext{
    padding-left: 20px;
}

.billtable,.shiptable{
	 padding-top: 2px;
	  padding-bottom: 2px;
}


.error {
    border:  1px solid red;
    background-color:red;
      }

  #message_line {
    height: 40px;
    color: red;
    font-family: sans-serif;
    font-style: italic;
    text-align:center;
	  padding-top:15px;
  }
